.img{
    background-image:url('../../../../images/hotel-img/india.jpg');
    background-repeat: no-repeat;
    background-position: center center;
   
    
    height: 100px;
}


/*background-attachment: fixed;
background-size: cover;*/