.tinput{
    background-image:url('../../images/vehicle/vehicle.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 0px;
    border-radius:25px ;
    height: 570px;
}

.bcolor{
    background-color:lavender;
    height: 350px;

}
.btitles{
    color: dodgerblue;
}
h3{
    color: grey;
}
