.roomresult-tableName{
    width: 15%;
}

.roomresult-tableGuests{
    width: 7%;
}

.roomresult-tableSpecs{
    width: 40%;
}

.roomresult-tablePrice{
    width: 10%;
}

.roomresult-a{
    width: 11%;
}

.roomresult-b{
    align-content: center;
}