.debackcolor{
    background-color: rgba(198, 198, 198, 0.26);
    min-height: 60vh;
}
.depad{
    padding: 20px;
    border-radius: 30px;

}
.btn-res{
    border-radius: 10px;
}
.imgcolor{
    background-color: white;
}
.txtcolorx{
    color: #00A680;
}
.txtboldx{
    font-weight: bold;
}

.iconpad{
    padding-right: 10px;
}
.subbtn{
    border-radius: 30px;
}
.imgsize{
    width: 320px;
    height: 250px;
}