.form-container-g {
  margin:  auto;
  width: auto;
 
  position: relative;

  height: 800px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.form-content-left-g {
  background: linear-gradient(
    90deg,
    rgb(99, 80, 185) 100%,
   
  );
  
  position: relative;
}

.form-img-g {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}






.form-content-right-g {
 
  position: relative;
  background: linear-gradient(90deg, rgb(40, 40, 40) 0%, rgb(17, 17, 17) 100%);
  border-top-left-radius: 50px;
  border-bottom-left-radius:50px;
}

.form1-g {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form h1-g {
  font-size: 2rem;
  text-align: start;
  width: 80%;
  margin-bottom: 1rem;
  color: #fff;
  align-items: center;
  justify-content: space-between;
}

.form-inputs-g {
  margin-bottom: 0.5rem;
  width: 51%;
}


.form-label- {
  display: inline-block;
  font-size: 1.3rem;
  margin-bottom: 6px;
  color: #fff;
}

.form-input-g {
  display: block;
  padding-left: 10px;
  outline: none;
  border-radius: 2px;
  height: 40px;
  width: 130%;
  border: none;
}

.form-input-g1 {
  display: block;
  padding-left: 10px;
  outline: none;
  border-radius: 2px;
  height: 40px;
  width: 30%;
  border: none;
}


.form-input-btn-g {
  width: 100px;
  height: 30px;

  border-radius: 15px;
  background: #69C6BA;
  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
}

.form-input-btn:hover {
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgb(223, 187, 26) 0%,
    rgb(250, 139, 12) 100%
  );
  transition: all 0.4s ease-out;
}

