.frame-2 {
    align-items: flex-start;
    display: flex;
    width: 317px;
  }
  .frame-2 .age31 {
    left: 123px;
    letter-spacing: 0px;
    position: absolute;
    top: 219px;
  }
  .frame-2 .frame-1 {
    align-items: flex-end;
    display: flex;
    height: 39px;
    left: 223px;
    min-width: 94px;
    position: absolute;
    top: 0px;
  }
  .frame-2 .korean {
    left: 123px;
    letter-spacing: 0px;
    position: absolute;
    top: 286px;
  }
  .frame-2 .overlap-group {
    height: 424px;
    position: relative;
    width: 317px;
  }
  .frame-2 .overlap-group1 {
    align-items: center;
    background-size: 100% 100%;
    display: flex;
    height: 34px;
    justify-content: flex-end;
    min-width: 88px;
    padding: 0 23px;
  }
  .frame-2 .price {
    letter-spacing: 0px;
    min-height: 16px;
    min-width: 35px;
  }
  .frame-2 .rectangle-1 {
    background-color: var(--mantis);
    border-radius: 19px;
    height: 393px;
    left: 0px;
    position: absolute;
    top: 17px;
    width: 298px;
  }
  .frame-2 .rectangle-2 {
    background-color: rgb(255, 255, 255);
    border-radius: 19px;
    height: 379px;
    left: 5px;
    position: absolute;
    top: 24px;
    width: 288px;
  }
  .frame-2 .rectangle-3 {
    background-color: var(--mantis);
    border-radius: 14px;
    height: 46px;
    left: 94px;
    position: absolute;
    top: 274px;
    width: 115px;
  }
  .frame-2 .rectangle-4 {
    background-color: var(--mist-gray);
    height: 135px;
    left: 27px;
    position: absolute;
    top: 46px;
    width: 249px;
  }
  .frame-2 .rectangle-6 {
    background-color: var(--amethyst);
    border-radius: 13px;
    height: 33px;
    left: 105px;
    pointer-events: auto;
    position: absolute;
    top: 391px;
    transition: all 0.2s ease;
    width: 96px;
  }
  .frame-2 .rectangle-6:hover {
    transform: scale(1.1);
  }
  .frame-2 .select {
    left: 127px;
    letter-spacing: 0px;
    position: absolute;
    top: 397px;
  }
  .frame-2 .tharaka-sandakelum {
    left: 56px;
    letter-spacing: 0px;
    position: absolute;
    top: 188px;
  }
  .roboto-bold-black-13px {
    color: black;
    font-family: "Roboto-Bold", Helvetica;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
  }
  .roboto-bold-black-14px {
    color: black;
    font-family: "Roboto-Bold", Helvetica;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
  }
  .roboto-bold-black-18px {
    color: black;
    font-family: "Roboto-Bold", Helvetica;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
  }
  .roboto-bold-white-18px {
    color: rgb(255, 255, 255);
    font-family: "Roboto-Bold", Helvetica;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
  }
  :root {
    --amethyst: rgba(89, 97, 138, 1);
    --mantis: #69C6BA;
    --mist-gray: rgb(0, 0, 0);
  }