.text-c:hover{
    background-color: #0bf9a7;
}

.link{
    color: black;
    text-decoration: none;
}
.ct:hover{
   color: black;
    text-decoration: none;
}
.textdec:hover{
    color: black;
    text-decoration: none;
}

